:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  overflow: hidden;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color:rgba(59, 59, 59, 0.711);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.title {
  text-transform: uppercase;
  color: goldenrod;
  font-family: Tahoma, sans-serif;
  text-shadow: 5px 5px 5px black;
  font-size: 3em;
  border: 8px solid goldenrod;
  padding-left: 50px;
  padding-right: 50px;
  border-style:double;
}

#drum-machine {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.drumBox-container {
  display: flex;
  justify-content: space-around;
  width: 60%;
  border: 10px groove goldenrod;
  padding: 20px;
  background-color: black;
  border-radius: 8px;
}

.drum-pad {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px double goldenrod;
  background-color: rgba(59, 59, 59, 0.711);
  border-radius: 50%;
  padding: 10px;
  width: 4em;
  height: 4em;
  cursor: pointer;
  font-family: 'Arial Narrow Bold', sans-serif;
}

.drum-pad:hover{
  background-color: rgba(218, 165, 32, 0.809);
}

.soundBoard {
  display: grid;
  grid-template: auto auto / auto auto auto;
  margin: 0;
  gap: 10px;
}