:root {
  line-height: 1.5;
  font-weight: 400;

  overflow: hidden;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  color: white;
}

body {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  width: 100vw;
  height: 100vh;
  background-color: rgba(60, 60, 60, 0.711);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif !important;
  padding: 10px;
}

.title {
  text-transform: uppercase;
  color: goldenrod;
  font-family: sans-serif;
  text-shadow: 5px 5px 5px black;
  font-size: 3em;
  border: 8px double goldenrod;
  padding-left: 50px;
  padding-right: 50px;
}

#drum-machine {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20%;
  row-gap: 30px;
  align-items: center;
  height: 100vh;
}

.drumBox-container {
  display: flex;
  justify-content: space-around;
  width: 60%;
  border: 10px groove goldenrod;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: black;
  border-radius: 8px;
}

.drum-pad {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px double goldenrod;
  background-color: rgba(59, 59, 59, 0.711);
  border-radius: 50%;
  padding: 10px;
  width: 4em;
  height: 4em;
  cursor: pointer;
  font-family: 'Arial Narrow Bold', sans-serif;
}

.drum-pad:hover{
  background-color: rgba(218, 165, 32, 0.809);
}

.soundBoard {
  display: grid;
  grid-template: auto auto / auto auto auto;
  margin: 0;
  gap: 10px;
}

/* Controller Station */

.controllerStation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
}

.power {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
  margin-top: -5px;
}

.btn-power {
  background-color: rgba(255, 255, 255, 0.804);
  border-radius: 15px;
  width: 80px;
  height: 30px;
  padding: 3px;
  cursor: pointer;
  margin-top: -5px;
}

.flicker {
  background-color: black;
  width: 50%;
  height: 100%;
  border-radius: 50px;
}

#display {
  background-color: aliceblue;
  color: black;
  padding: 5px 30px;
  border-radius: 5px;
  margin-top: 5px;
}

.volumeControl {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.volRange::-webkit-slider-runnable-track {
  background: rgba(255, 255, 255, 0.831);
}
.volRange::-webkit-slider-thumb {
  background: gold;
  border: 1px solid black;
}
.volRange::-moz-range-thumb {
  background: gold;
  border: 1px solid black;
}
.volRange::-ms-thumb {
  background: gold;
  border: 1px solid black;
}