:root {
  line-height: 1.5;
  font-weight: 400;

  overflow: hidden;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  color: white;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: rgba(60, 60, 60, 0.711);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif !important;
  padding: 10px;
}

.title {
  text-transform: uppercase;
  color: goldenrod;
  font-family: 'Bruno Ace', cursive;
  text-shadow: 5px 5px 5px black;
  font-size: 3em;
  border: 8px double goldenrod;
  border-radius: 5px 20px;
  padding: 10px 50px;
}

#drum-machine {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20%;
  row-gap: 30px;
  align-items: center;
  height: 100vh;
}

.drumBox-container {
  display: flex;
  justify-content: space-around;
  column-gap: -10px;
  width: 700px;
  border: 10px groove goldenrod;
  border-radius: 8px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: black;
}

.drum-pad {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px double goldenrod;
  background-color: rgba(59, 59, 59, 0.711);
  border-radius: 50%;
  width: 4.8em;
  height: 4.8em;
  cursor: pointer;
  font-family: 'Bruno Ace', cursive;

}
.drum-padOff {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px double rgba(218, 165, 32, 0.379);
  background-color: rgba(59, 59, 59, 0.711);
  border-radius: 50%;
  width: 4.8em;
  height: 4.8em;
  cursor: pointer;
  font-family: 'Bruno Ace', cursive;

}

.drum-pad:hover{
  background-color: rgba(218, 165, 32, 0.809);
}

.soundBoard {
  display: grid;
  grid-template: auto auto / auto auto auto;
  margin: 0;
  gap: 15px;
}

/* Controller Station */

.controllerStation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
}

.power {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
  margin-top: -5px;
}

.btn-powerOff {
  display: flex;
  justify-content: flex-end;
  background-color: rgba(255, 255, 255, 0.804);
  border-radius: 15px;
  width: 80px;
  height: 30px;
  padding: 3px;
  cursor: pointer;
  margin-top: -5px;
}
.btn-powerOn {
  display: flex;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 0.804);
  border-radius: 15px;
  width: 80px;
  height: 30px;
  padding: 3px;
  cursor: pointer;
  margin-top: -5px;
}

.flicker {
  background-color: black;
  width: 50%;
  height: 100%;
  border-radius: 50px;
}

#display {
  background-color: rgba(255, 252, 240, 0.692);
  color: black;
  padding-top: 10px;
  border-radius: 5px;
  margin-top: 5px;
  font-size: 30px;
  width: 8.5em;
  height: 2em;
  text-align: center;
  font-family: 'Bruno Ace', cursive;
}
#displayOff {
  background-color: rgba(255, 252, 240, 0.363);
  color: black;
  padding-top: 10px;
  border-radius: 5px;
  margin-top: 5px;
  font-size: 30px;
  width: 8.5em;
  height: 2em;
  text-align: center;
  font-family: 'Bruno Ace', cursive;
}

.volumeControl {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.volRange::-webkit-slider-runnable-track {
  background: rgba(255, 255, 255, 0.831);
}
.volRange::-webkit-slider-thumb {
  background: gold;
  border: 1px solid black;
}
.volRange::-moz-range-thumb {
  background: gold;
  border: 1px solid black;
}
.volRange::-ms-thumb {
  background: gold;
  border: 1px solid black;
}